/* Color Scheme
Navy Blue #18121E
Gun Metal #233237
Rusty Red #984B43
Warm Yellow #EAC67A */
body,
html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#header img {
    display: inline-block;
    margin-left: 20px;
}

h1 {
    display: inline-block;
    font-family: 'Amatic SC', cursive;
    font-size: 150px;
    color: #18121E;
    /* text-align: center; */
    margin: 0 auto;
    margin-left: 20px;
}

h2 {
    color: #18121E;
    text-align: center;
    padding: 10px;
}

h3 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 40px;
    color: #233237;
    margin: 0 auto;
    margin-bottom: 15px;
}

.container {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: 15% 15% 35% 35%;
    grid-template-areas:
        "header header header"
        "search recent-1 recent-2"
        "results weather weather"
        "details googleMaps googleMaps";
}

.item-1 {
    grid-area: header;
    background-image: url(../images/nourdine-diouane-77072-unsplash-cropped.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.item-2 {
    grid-area: search;
    margin-left: 20px;
    padding: 10px;
}

.item-3 {
    grid-area: results;
    margin: 20px;
    padding: 10px;
}

.item-4 {
    grid-area: details;
    margin-left: 20px;
    padding: 10px;
}

.item-5 {
    grid-area: recent-1;
    padding: 10px;
}

.item-6 {
    grid-area: recent-2;
    padding: 10px;
}

.item-7 {
    grid-area: weather;
    margin: 20px;
    padding: 10px;
}

.item-8 {
    grid-area: googleMaps;
}

#results {
    border-color: #EAC67A;
    border-style: solid;
    border-width: 2px;
    color: #233237;
}

#weather {
    border-color: #EAC67A;
    border-style: solid;
    border-width: 2px;
    color: #233237;
}

thead {
    text-align: left;
    font-size: 20px;
}

th {
    padding: 10px 50px 10px 0px;
}

td {
    padding: 10px 50px 10px 0px;
    border-top: 1px dotted #EAC67A;
}

tr {
    border-top: 1px solid #EAC67A;
}